{% include 'incl/header.twig' %}

{#
Din landningssida skall använda sig utav en egen layout, technologies.twig
Din landningssida skall använda sig utav CSS-Grid.
Din grid ska bestå utav tre kolumner.
Titeln för sidan ska vara en del av gridet och vara tre kolumner i bredd.
Boxarna ska ha en länk till respektive teknologi så man kan navigera vidare.
Varje box ska kunna ta upp 1, 2 eller 3 kolumner i bredd.
Sidan och dess grid ska vara responsivt genom att:
Besöks sidan via en telefon eller annan liten enhet ska gridet istället vara en kolumn bred.
#}

<body>
    {% include 'incl/nav.twig' %}
    <div class="main" role="main">
        <div class="smallgrid smallwrap">
            <div class="link-list">
                <ul class="links">
                    <li><a href="?technology/css">CSS</a></li>
                    <li><a href="?technology/html">HTML</a></li>
                    <li><a href="?technology/javascript">JavaScript</a></li>
                    <li><a href="?technology/php">PHP</a></li>
                    <li><a href="?technology/python">Python</a></li>
                    <li><a href="?technology/git">Git</a></li>
                    <li><a href="?technology/sqlite">SQLite</a></li>
                </ul>
            </div>
            {{ content }}
        </div>
    </div>

{% include 'incl/footer.twig' %}
</body>


</html>