.main[role="main"] {
    .gridAnalysis {
        margin: 0 auto;
        .subGridA {
            margin: 0 1em;

            .tables {
                margin:auto;
                th {
                    width: 100px;
                    text-align: center;
                }
            }

            .r1, .r2, .r3 {
                margin: 0;
                h2, p {
                    a {margin: 0;}
                }
            }

            .r2 {
                border-left: 2px double #2a2a2a;
                border-right: 2px double #2a2a2a;
            }
        }
        .subGridA.subWrapC {
            .r2 {
                border: none;
            }
        }
    }
    
}


.gridAnalysis {
    display: grid;
    gap: 1em 1em;
    margin: unset;
    margin-bottom: 1em;

    h1, h2, h3 {
        text-align: center;
    }

    a:hover {
        color: $accent-color;
    }

    * {
        margin: 0
    }

    .box {
        margin: unset;
    }
}

.wrapperAnalysis {
    max-width: 1280px;
    margin: 0 auto;
    grid-template-columns: 1fr;
    grid-template-rows: 50px repeat 400px 450px 500px 1500px 550px 50px;
    grid-template-areas: 
    "h1"
    "urv"
    "met"
    "res"
    "res"
    "ana"
    "ref"
    "etc"
    ;
}

.subGridA {
    display: grid;
    max-width: 1280px;
    margin: 0 auto;
}

.subWrapA, .subWrapD {
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 50px 450;
    grid-template-areas: "h2 h2 h2" "r1 r2 r3";
}

.subWrapD {
    grid-template-areas: "h2 h2 h2" ". r1 .";
}

.subWrapB {
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 50px 400;
    grid-template-areas: "h2 h2 h2" "tbls r1 r1";
}

.subWrapC {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 50px 500px 1000 225px;
    grid-template-areas: "h2 h2 h2" "r1 r1 r1" "r2 r2 r2" "r3 r3 r3";
    .r1 {
        display: flex;
        flex-direction: column;
        p {
            margin: 0;
        }
        h3 {
            width: 350px
        }
        .flexRowR {
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
    }
    .r2 {
        border: none;
    }
}


.box {
    background-color: #eee;
    border: 2px solid $background-alternative-color;
}

.grid.wrapper, .smallgrid.smallwrap{
    margin: 1em auto;
}

// .wgrid {
//     margin: unset;
// }

h1 {grid-area: h1;}
h2 {grid-area: h2;}
h3 {grid-area: h3;}

.urv { grid-area: urv; }
.met { grid-area: met; }
.res { grid-area: res; }
.ana { grid-area: ana; }
.ref { grid-area: ref; }
.etc { grid-area: etc; }
.tables {grid-area: tbls }

.r1 { grid-area: r1; }
.r2 { grid-area: r2; }
.r3 { grid-area: r3; }


// .landingpage {
//     display: grid;
//     gap: 1em 1em;

//     h1 {
//         grid-column: span 3;
//         justify-self: center;
//     }
// }