.footer {
    background-image: linear-gradient(to top, $background-alternative-color, 10% , $background-color);
    background-color: $background-color;

    .container {
        margin: 0 2em;
        
        a, p {
            color: $font-color;
            font-size: 1.25em;
        }
    }
}
