.header[role="banner"] {
    .site-header {
        background: $background-alternative-color;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-evenly;

        .title {
            margin-left: 4em;
            width: 50%;

            a {
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                color: $font-alternative-color;
                p,
                h1 {
                    justify-content: center;
                    width: 100%;
                    color: $font-alternative-color;
                }
            }
        }
        .logo {
            margin-left: 4em;
            width: 50%
        }
    }
    ul {
        border-top: 1em solid $background-alternative-color;
        border-bottom: 1em solid $background-color;
        margin-top: 0;
        margin-bottom: 0;
        background-image: linear-gradient(to bottom, $background-alternative-color, 10% , $background-color);
    }
}