.slide {
    overflow-y: hidden !important;
    transition: height 0.5s ease-in !important;
}

.nav ul {
    display: flex;
    justify-content: flex-end;
    padding: 1em 0;
    list-style: none;

    li {
        padding: 0 1em;
    }

    a {
        color: #333;
    }
}

.nav-toggle {
    color: #333;
    display: none;
}


@media (max-width: 767px) {
    .main[role="main"] {
        ul {
            padding: 0;
        }

        code {
            display: block;
            white-space: pre-wrap
        }
    }

    .header[role="banner"] {
        flex-direction: row;

        .site-header {
            .logo,
            .title {
                margin: 0 auto;
                display: flex;

            }

            .title {
                .a {
                    p,
                    h1 {
                        width: 90%;
                    }
                }
            }
        }


        .nav ul {
            flex-direction: column;
            padding-bottom: 1em;

            li {
                display: flex;
                flex-direction: column;
                text-align: center;

                a {
                    display: block;
                    padding: 0.5em 0;
                }
            }

            .js .nav-toggle {
                display: block;
                float: right;
                width: 2em;
                margin: 0.6667em 0;
                font-size: 1.5rem;
                line-height: 2em;
                text-align: center;
                cursor: pointer;
            }
        }
    }
}
