@import '../../shared/fontawesome/scss/fontawesome';//fonts
$fa-font-path: '../../shared/fontawesome/webfonts';//fonts
@import '../../shared/fontawesome/scss/brands';//fonts
@import '../../shared/fontawesome/scss/solid';//fonts
@import '../../shared/fontawesome/scss/regular'; //fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto:wght@300&display=swap');
@import '../../node_modules/normalize-css/normalize.css';

@import 'variables';
@import 'content';
@import 'blockquotes';
@import 'code';
@import 'header';
@import 'footer';
@import 'technology';
@import 'analysis';
@import 'mobile';


body {
    @include tema($bg: $--dm-gandalf-bg, $txt: $--dm-gandalf-frame, $border: $--dm-gandalf-frame);
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.header[role="banner"] {
    @include headerTema($bg: $--dm-gandalf-article, $txt: $--dm-gandalf-highl, $main-bg: $--dm-gandalf-bg)
}

.footer {
    @include footerTema($bg: $--dm-gandalf-article, $txt: $--dm-gandalf-bright, $main-bg: $--dm-gandalf-bg)
}


@include grid ($acc: $--dm-gandalf-bright, $box-color: $--dm-gandalf-frame, $border: $--dm-gandalf-frame, $bgbox: $--dm-gandalf-article);



@include gridA ($acc: $--dm-gandalf-bright, $box-color: $--dm-gandalf-frame, $border: $--dm-gandalf-frame, $bgbox: $--dm-gandalf-article);




* {
    color: $--dm-gandalf-frame;
    font-family: 'Roboto', sans-serif;
    // font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
    font-family: 'Montserrat', sans-serif;
}

h1{
    color: $--dm-gandalf-bright;
}

h2, h3, h4, h5, h6 {
    color: $--dm-gandalf-highl;
}

a {
    h2, h3, h4, h5, h6 {
        color: $--dm-gandalf-highl;
    }
}

p {
    font-size: 16px;
}

.nav ul {
    a {
        color: $--dm-gandalf-bright;
    }
}

code, pre {
    background: $--dm-gandalf-bg;
}