@import '../../shared/fontawesome/scss/fontawesome';//fonts
$fa-font-path: '../../shared/fontawesome/webfonts';//fonts
@import '../../shared/fontawesome/scss/brands';//fonts
@import '../../shared/fontawesome/scss/solid';//fonts
@import '../../shared/fontawesome/scss/regular'; //fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto:wght@300&display=swap');
@import '../../node_modules/normalize-css/normalize.css';

@import 'variables';
@import 'content';
@import 'blockquotes';
@import 'code';
@import 'header';
@import 'footer';
@import 'technology';
@import 'analysis';
@import 'mobile';


body {
    @include tema($bg: $--lm-gandalf-bg, $txt: $--lm-gandalf-dark, $border: $--lm-gandalf-darkl);
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.header[role="banner"] {
    @include headerTema($bg: $--lm-gandalf-frame, $txt: $--lm-gandalf-dark, $main-bg: $--lm-gandalf-bg)
}

.footer {
    @include footerTema($bg: $--lm-gandalf-frame, $txt: $--lm-gandalf-dark, $main-bg: $--lm-gandalf-bg)
}

.grid {
    @include grid ($acc: $--lm-gandalf-darkl, $box-color: $--lm-gandalf-frame, $border: $--lm-gandalf-darkl, $bgbox: $--lm-gandalf-article)
}

.gridAnalysis {
    @include gridA ($acc: $--lm-gandalf-darkl, $box-color: $--lm-gandalf-frame, $border: $--lm-gandalf-darkl, $bgbox: $--lm-gandalf-article)
}

* {
    color: $--lm-gandalf-dark;
    font-family: 'Roboto', sans-serif;
    // font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6, p, a {
    font-family: 'Montserrat', sans-serif;
}

p {
    font-size: 16px;
}

.nav ul {
    a {
        color: $--lm-gandalf-dark;
    }
}

