$font-color: #333;
$font-alternative-color: #ddd;
$accent-color: #4d7bee;
$background-color: #ddd;
$background-alternative-color: #333;

@mixin tema($bg: $background-color, $txt: $font-color) {
    background: $bg;
    color: $txt;
    border: $accent-color
}